{% extends "partials/staff.twig" %}

{% block breadcrumb %}
{{ parent() }}
    <li class="">Finance</li>
    <li class="">Financial Year</li>
{% endblock %}

{% block content %}

    {#only HOD finance department should have access to this#}
    {% if user and user.response[0]['departmentId']==7 and  user.response[0]['roleId']==2 %}
        <div class="card">
            <div class="card-header">
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#finY">
                    <i class="fa fa-plus"></i> Add
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Financial Year</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if data and data.status=='success' and data.code==200 %}

                            {% for yearData in data.response %}
                                <tr>
                                    <td>{{ yearData.financialYear }}</td>
                                    <td>{{ yearData.startdate }}</td>
                                    <td>{{ yearData.enddate }}</td>
                                    {% if yearData.status=='0' %}
                                        <td>
                                            <span class="badge badge-warning p-1">In Active</span>
                                        </td>
                                        <td>
                                            <form action="/staff/financial_year/?action=activate" method="post">
                                                <input type="hidden" name="yearId" value="{{ yearData.id }}">
                                                <input type="hidden" name="finYear"
                                                       value="{{ yearData.financialYear }}">
                                                <button type="submit" class="btn btn-success btn-sm">set current
                                                </button>
                                            </form>
                                        </td>

                                    {% else %}
                                        <td>
                                            <span class="badge badge-success p-1">Active</span>
                                        </td>
                                        <td>
                                            <button class="btn disabled btn-sm btn-info">set current</button>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}

                        {% endif %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="finY" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-uppercase">Add Financial Year</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/staff/financial_year/?action=add" method="post">

                            <div class="form-group">
                                <label for="startdate">Start Date</label>
                                <input type="date"
                                       class="form-control" name="startdate" id="startdate" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="enddate">End date</label>
                                <input type="date"
                                       class="form-control disabled" name="enddate" id="enddate">
                            </div>
                            <div class="float-right">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">submit</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="card">
            <div class="card-body">

                {% include 'partials/403.twig' %}
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $('#startdate').on('keyup keypress change', function () {

            date = new Date($(this).val()).getDate();
            month = new Date($(this).val()).getUTCMonth();
            year = new Date($(this).val()).getFullYear();

            $endDate = new Date(year + 1, month, date);
            $("#enddate").val($endDate.toJSON().split('T')[0])
        })
    </script>
{% endblock %}
