{% extends "partials/staff.twig" %}

{% block styles %}
    {{ parent() }}
    <style>
        .form-control.form-group{
            border: 0 solid transparent;
            border-bottom: 1px solid #1b1e21;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}



{% block content %}
    {% set me=user.response[0] %}

    <div class="card">
        <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                    <div class="{{ me.roleId==1?'col-md-6':'col-md-3' }} mb-2">
                        <div class="card bg-dark">
                            <div class="card-body p-3">
                                <div class="text-center text-white">
                                    <div>
                                        <i class="fa fa-tasks fa-4x text-white"></i>
                                    </div>
                                    <h4 class="pt-3">{{ warrant.response[0]['ct']|default(0) }}</h4>
                                    <div> Imprest Warrant Applications</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="{{ me.roleId==1?'col-md-6':'col-md-3' }} mb-2">
                        <div class="card bg-flat-color-4">
                            <div class="card-body p-3">
                                <div class="text-center text-white">
                                    <div>
                                        <i class="fa fa-tasks fa-4x text-white"></i>
                                    </div>
                                    <h4 class="pt-3">{{ surrender.response[0]['ct']|default(0) }}</h4>
                                    <div> Imprest Surrender Applications</div>
                                </div>
                            </div>
                        </div>
                    </div>

                        {% if me.roleId!=1 %}
                            <div class="col-md-3 mb-2">
                                <div class="card bg-flat-color-5">
                                    <div class="card-body p-3">
                                        <div class="text-center text-white">
                                            <div>
                                                <i class="fa fa-tasks fa-4x text-white"></i>
                                            </div>
                                            <h4 class="pt-3">{{ warrantsToApprove.response[0]['ct']|default(0) }}</h4>
                                            <div> Imprest Warrant Applications To Process</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div class="card bg-flat-color-1">
                                    <div class="card-body p-3">
                                        <div class="text-center text-white">
                                            <div>
                                                <i class="fa fa-tasks fa-4x text-white"></i>
                                            </div>
                                            <h4 class="pt-3">{{ surrendersToApprove.response[0]['ct']|default(0) }}</h4>
                                            <div> Imprest Surrender Applications To Process</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                </div>
                </div>
                <div class="col-lg-12 row py-5">
                    <div class="col-md-7 mx-auto">
                    <div class="card ">
                        <div class="card-header">Current User Details</div>
                        <div class="card-body">
                            <div class="form-control form-group">
                                Full Name: <span>{{ me.firstname }} {{ me.lastname }} {{ me.surname }}</span>
                            </div>

                            <div class="form-control form-group">
                                Staff Number: <span>{{ me.staffnumber }}</span>
                            </div>

                            <div class="form-control form-group">
                                Department: <span>{{ me.department }}</span>
                            </div>
                            <div class="form-control form-group">
                                Role: <span>{{ me.role }}</span>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
